In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
salary_train = pd.read_csv("SalaryData_Train.csv")
salary_test = pd.read_csv("SalaryData_Test.csv")
string_columns = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [3]:
#Preprocessing the data. As, there are categorical variables
number = LabelEncoder()

In [4]:
for i in string_columns:
    salary_train[i]= number.fit_transform(salary_train[i])
    salary_test[i]=number.fit_transform(salary_test[i])

In [5]:
#Capturing the column names
colnames = salary_train.columns
colnames
len(colnames)

14

In [6]:
x_train = salary_train[colnames[0:13]]
y_train = salary_train[colnames[13]]
x_test = salary_test[colnames[0:13]]
y_test = salary_test[colnames[13]]

In [7]:
#Building Multinomial Naive Bayes model
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [8]:
classifier_mb = MB()
classifier_mb.fit(x_train,y_train)
pred_mb = classifier_mb.predict(x_train)

In [9]:
accuracy_mb_train = np.mean(pred_mb == y_train)

In [10]:
pd.crosstab(pred_mb, y_train)

Salary   <=50K   >50K
row_0
 <=50K   21717   5913
 >50K      936   1595

In [11]:
#Building Gaussian model
classifier_gb = GB()
classifier_gb.fit(x_train, y_train)
pred_gb = classifier_gb.predict(x_train)
accuracy_gb_train = np.mean(pred_gb == y_train)

In [12]:
pd.crosstab(pred_gb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21505   5025
 >50K     1148   2483

In [13]:
#for test data
pred_gb_train = classifier_gb.predict(x_test)
accuracy_gb_test = np.mean(pred_gb_train == y_test)

In [14]:
pd.crosstab(pred_gb_train,y_test)

Salary   <=50K   >50K
row_0
 <=50K   10759   2491
 >50K      601   1209